<main class="events" [@slideFromRight]>
	<app-logo></app-logo>
	<div class="events__title">{{ selectedLanguage['EVENT_VIEW_TITLE'] }}</div>
	<div class="events__selector">
		<ul class="events__selector__list">
			<li
				*ngFor="let event of ongoingEvents; index as i"
				[@slideFromRight]="{ value: '', params: { delay: i * 100 } }"
			>
				<button (click)="onEventClick(event)">
					<span>{{ event.name }}</span>
					<mat-icon>chevron_right</mat-icon>
				</button>
			</li>
		</ul>
	</div>
</main>